*{
    max-width: 1400px;
}
header{
    background-color: rgb(87, 167, 247);
}
header h1{
    text-align: center;
}
main{
    display: block;
    width: 100%;
}

ul{
    list-style-type: none;
}

h2{
    text-align: center;
}



@media screen and (min-width: 600px){
    header{
        background-color: rgb(87, 167, 247);
    }
    header h1{
        text-align: center;
    }
    main{
        width: 1000px;
    }
    .city-data{
        background-color: rgb(139, 175, 243);
        width: 200px;
        height: 200px;
        border: 2px;
        border-color: gold;
        border-style: double;  
        position: absolute;
        top: 95px;
        left:95px;
    }
    .weather{
        background-color: rgb(139, 175, 243);
        width: 200px;
        height: 200px;
        border: 2px;
        border-color: gold;
        border-style: double;  
        position: absolute;
        bottom: 5px;
        right:95px;   
    }
    
    picture{
        justify-content: center;
    }
    
    #olvpic{
        width: 1100px;
        height: auto;
        margin-left: 60px;
    }
    /* h2{
        text-align: left;
    } */
    .weather h2::after{
        content: url("images/1530374_weather_day_sand_sandstorm_sun_icon.svg");
        display: none;
        text-align: center;
    }
    footer{
        background-color: rgb(87, 167, 247);

    }
}